.nostyle {
  padding: 0;
  margin: 0;
  list-style: none;
}
#app {
  overflow: hidden;
}
.cubebackground {
  background: #464655;
}
.boxSizing {
  position: relative;
  box-sizing: border-box;
}
.set-title {
  text-align: left;
  color: #00f0b4;
}
.ssdcube {
  background: #464655;
  display: inline-block;
  border: solid #ffffff 10px;
  padding: 1rem;
  height: auto;
  color: #ffffff;
}

.temperaturelist {
  background: #464655;
  display: inline-block;
  height: auto;
  border: solid #ffffff 10px;
  color: #ffffff;
  padding: 1rem;
}
.ssdtable > table {
  overflow: hidden;
  text-align: center;
}
.detailtable {
  background: #464655;
  width: 100%;
  height: auto;
  border: solid #ffffff 10px;
  padding: 10px;
}
.ssdsidebar {
  background: #464655;
  height: 100%;
  margin-top: 10px;
}
.ssdseeting {
  background: #006666;
  border: 1px solid #ffffff;
  color: #ffffff;
  word-wrap: break-word;
}
.ssdseetingDeviceName {
  background: #006666;
  border: 1px solid #ffffff;
  color: #00f0b4;
  word-wrap: break-word;
}
.table .ssdtd {
  padding: 0.25rem;
  vertical-align: middle;
  background: #464655;
}
.Recoveryicon {
  background: #999999;
}
.Coreanalyzericon {
  background: #00f0b4;
}
.status-cycrle {
  height: 200px;
  position: relative;
}
.status-cycrle p {
  position: absolute;
  top: 30%;
  font-size: 4rem;
  z-index: 100;
}
//alertbox
.alertbox {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(98, 98, 98, 0.8);
  z-index: 100;
}

.alertbox .more-content {
  position: relative;
  width: 55%;
  background: white;
  border-radius: 5px;
  margin: 40px auto;
  padding: 20px;
}
.alertbox .setright {
  position: absolute;
  top: -13px;
  right: -13px;
}
.alertbox .icon {
  cursor: pointer;
}
//widgetbox
.widgetbox {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(98, 98, 98, 0.8);
  z-index: 100;
}

.widgetbox .more-content {
  position: relative;
  width: 68%;
  background: #393947;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
}
.widgetbox .setright {
  position: absolute;
  top: -13px;
  right: -13px;
}
.widgetbox .icon {
  cursor: pointer;
}
.point:hover {
  cursor: pointer;
}
.bgray {
  background-color: #464655;
}
/*自訂Progress8*/
.myProgress {
  width: 100%;
  background-color: #5a5a6e;
}
.mybar {
  padding: 1px 0;
  text-align: center;
  color: #ffffff;
}
.mybar-right {
  padding: 1px 0;
  text-align: right;
  color: #ffffff;
}
.triangle-top {
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 18px 9px;
  border-color: transparent transparent #00f0b4 transparent;
  cursor: pointer;
}
.triangle-bottom {
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 9px 0 9px;
  border-color: #00f0b4 transparent transparent transparent;
  cursor: pointer;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transition: opacity 0.5s;
}
/*egauge*/
.egauge-title {
  position: absolute;
  top: 80%;
  left: 12%;
  font-size: 1.25rem;
  font-weight: 500;
}
.piereadgroup {
  width: 33%;
  height: 300px;
  padding: 3px;
}

//pagination分頁按鈕修改bootstrap
.pagination > li {
  position: relative;
  display: inline-block;
  width: 24px;
  height: auto;
  text-align: center;
  margin: 0.2rem;
}
.pagination > li img,
.pagination > li img:hover {
  display: inline-block;
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-btn {
  background: url("../public/img/icon/bt-1a.png");
}
.first-btn:hover {
  background: url("../public/img/icon/bt-1b.png");
}
.prev-btn {
  background: url("../public/img/icon/bt-2a.png");
}
.prev-btn:hover {
  background: url("../public/img/icon/bt-2b.png");
}
.next-btn {
  background: url("../public/img/icon/bt-4a.png");
}
.next-btn:hover {
  background: url("../public/img/icon/bt-4b.png");
}
.last-btn {
  background: url("../public/img/icon/bt-3a.png");
}
.last-btn:hover {
  background: url("../public/img/icon/bt-3b.png");
}
.page-link {
  display: contents;
  border: 0px;
}

#temp.tabs .tab-pane {
  margin-left: 20px;
}

#temp.tabs h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 60px;
}

#temp .tabs p {
  font-size: 14px;
}
#temp.tabs li {
  position: relative;
  margin-top: 1px;
  text-align: center;
  width: 100px;
  height: 60px;
  padding-top: 15%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#temp.tabs a {
  font-size: 1rem;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.temprange {
  position: absolute;
  text-align: right;
  width: 50px;
  height: auto;
  left: -54%;
  bottom: 0;
}
.scrollbarshow .tab-content {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.scrollline {
  width: 2000px;
  overflow-x: scroll;
  overflow-y: hidden;
}
