.cubebackground {
  background: #464655;
}
.boxSizing {
  position: relative;
  box-sizing: border-box;
}
.set-title {
  text-align: left;
  color: #00f0b4;
}
.ssdcube {
  background: #464655;
  display: inline-block;
  border: solid #ffffff 10px;
  padding: 1rem;
  height: auto;
  color: #ffffff;
}

.temperaturelist {
  background: #464655;
  display: inline-block;
  height: auto;
  border: solid #ffffff 10px;
  color: #ffffff;
  padding: 1rem;
}
.ssdtable > table {
  overflow: hidden;
  text-align: center;
}
.detailtable {
  background: #464655;
  width: 100%;
  height: auto;
  border: solid #ffffff 10px;
  padding: 10px;
}
.ssdsidebar {
  background: #464655;
  height: 100%;
  margin-top: 10px;
}
.ssdseeting {
  background: #006666;
  border: 1px solid #ffffff;
  color: #ffffff;
  word-wrap: break-word;
}
.ssdseetingDeviceName {
  background: #006666;
  border: 1px solid #ffffff;
  color: #00f0b4;
  word-wrap: break-word;
}
.table .ssdtd {
  padding: 0.25rem;
  vertical-align: middle;
  background: #464655;
}
.Recoveryicon {
  background: #999999;
}
.Coreanalyzericon {
  background: #00f0b4;
}
.inner-text {
  height: auto;
  width: 100%;
}
.inner-text > p {
  margin-top: -4rem;
}
.inner-text > span {
  max-width: 100px;
  color: #00f0b4;
}
.alertbox {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(98, 98, 98, 0.8);
  z-index: 100;
}
.alertbox .more-content {
  position: relative;
  width: 55%;
  background: white;
  border-radius: 5px;
  margin: 40px auto;
  padding: 20px;
}
.alertbox .setright {
  position: absolute;
  top: -13px;
  right: -13px;
}
.alertbox .icon {
  cursor: pointer;
}
.point:hover {
  cursor: pointer;
}
.bgray {
  background-color: #464655;
}
/*自訂Progress8*/
.myProgress {
  width: 100%;
  background-color: #5a5a6e;
}
.mybar {
  padding: 1px 0;
  text-align: center;
  color: #ffffff;
}
.mybar-right {
  padding: 1px 0;
  text-align: right;
  color: #ffffff;
}
.triangle-top {
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 18px 9px;
  border-color: transparent transparent #00f0b4 transparent;
  cursor: pointer;
}
.triangle-bottom {
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 9px 0 9px;
  border-color: #00f0b4 transparent transparent transparent;
  cursor: pointer;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transition: opacity 0.5s;
}
/*egauge*/
.egauge-title {
  position: absolute;
  top: 80%;
  left: 12%;
  font-size: 1.25rem;
  font-weight: 500;
}
.piereadgroup {
  width: 33%;
  height: 300px;
  padding: 3px;
}
